*.DS_Store
*.idea
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*.xcscmblueprint
*.xcuserdata
*com.apple.timemachine.supported
*node_modules
*package-lock.json
build/*
Build/Products/*
Build/Temp/*
Classes/.DS_Store
DerivedData
engine/.DS_Store
Frameworks/mx/nocheckin/*
Package.resolved
Resources/Sounds/*
tags
tools/.DS_Store
xcuserdata
~$FeatureAreas.xlsx
~$Features.xlsx
~$MusicXML Implementation Checklist.xlsx
