*.{pbxsymbols,otf,caffemodel,zip,a,grt,pipeline,probs,webarchive,solverstate,index,cache,data,xcindexdb,car,pbxproj,idx,dylib,sf2,xcindexdb-wal,mlmodel,png,m4v,files,strings-res,strings-sym,mdb,pdf,rec,net,swiftmodule} filter=lfs diff=lfs merge=lfs -text